<div id="choice-padding" class="row">
    <div ng-show="road_movie">
        <div class="col-md-7">
                <img id="main-poster" class="img-rounded img-responsive" src="http://image.tmdb.org/t/p/w185/{{ road_movie.poster }}">
        </div>

        <div class="col-md-5">
                <h1>{{ road_movie.title }}</h1>
                <h4>{{ road_movie.year }}</h4>
                <h4>{{ road_movie.genre.genre_type }}</h4>
                <h2>How To Watch</h2>
                <p><a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dinstant-video&field-keywords={{ road_movie.title }}" target="_blank"><img class="img-rounded" src="/static/img/amazon-instant-video.jpg"></a></p>
                <p><a href="{{ road_movie_link.url }}" target="_blank"><img class="img-rounded" src="/static/img/apple-tv.jpg"></a></p>
                <p><a href="http://search.ovguide.com/?ci=101&q={{ road_movie.title }}" target="_blank"><img class="img-rounded" src="/static/img/OVGuide_Logo.jpg"></a></p>
                <h4><a href="#/moods">You hate it? So Go back...</a></h4>
        </div>
    </div>
</div>


