#navbar-brand{
    text-align:center;
    float: none;
}

#header {
    position: fixed;
    right:0;
    top:0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Bubbler One', sans-serif;*/
    /*background: radial-gradient(#eee,#444);*/

}

/*.header {*/
    /*background-color: darkgrey;*/
/*}*/

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;

    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Bubbler One', sans-serif;*/
    font-weight: 300;
    text-align: center;
    font-style: 18px;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-left: auto;
    margin-right: auto;
}

img {
    margin-left: auto;
    margin-right: auto;
}

#special-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    padding-top: 100px;

}


