<div id="choice-padding" class="row">
    <div ng-show="western_movie">
        <div class="col-md-7">
                <img id="main-poster" class="img-rounded img-responsive" src="http://image.tmdb.org/t/p/w185/{{ western_movie.poster }}">
        </div>

        <div class="col-md-5">
                <h1>{{ western_movie.title }}</h1>
                <h4>{{ western_movie.year }}</h4>
                <h4>{{ western_movie.genre.genre_type }}</h4>

            <hr>

                <h2>How To Watch</h2>
                <div id="movie-icon-links">
                    <a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dinstant-video&field-keywords={{ western_movie.title }}" target="_blank"><img id="az-icon" class="img-rounded" src="/static/webfonts/amazon_icon.png"></a>
                    <a href="{{ western_movie_link.url }}" target="_blank"><i id="icon" class="ss-apple"></i></a>
                    <a href="http://www.vudu.com/movies/#search/{{ western_movie.title }}" target="_blank"><img id="vudu-icon" class="img-rounded" src="/static/webfonts/ps_vudu_logo.png"></a>
                </div>
                <h4><a href="#/moods">You hate it? So Go back...</a></h4>
        </div>
    </div>
</div>


