<div class="row">
    <div ng-show="movie">
        <div class="col-md-7">
                <img id="main-poster" class="img-rounded img-responsive" src="http://image.tmdb.org/t/p/w185/{{ movie.poster }}">
        </div>

        <div class="col-md-5">
                <h1>{{ movie.title }}</h1>
                <h4>{{ movie.year }}</h4>
                <h4>{{ movie.genre.genre_type }}</h4>
                <h2>How To Watch</h2>
                <h5><a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dinstant-video&field-keywords={{ movie.title }}" target="_blank">Amazon Prime</a></h5>
                <h5><a href="http://search.ovguide.com/?ci=101&q={{ movie.title }}" target="_blank">OV Guide</a></h5>
                <h5><a href="{{ movie_link.url }}" target="_blank"> Apple TV</a></h5>
        </div>
                <h4><a href="#/moods">You hate it? So Go back...</a></h4>
    </div>
</div>

