
$josefin-font: 'Josefin Sans', sans-serif;

body {
    font-family: 'Josefin Sans', sans-serif;

  h1, h2, h3, h4, h5 {
      font-family: $josefin-font;
//      text-align: center;
      font-style: 18px;
  }
}

a:hover {text-decoration: none;}

#navbar-brand{
    text-align:center;
    float: none;
}

#choice-padding {
  padding-top: 20px;
}

img {
  margin-left: auto;
  margin-right: auto;

}

#az-icon {
margin-top: -15px;
}

#vudu-icon {
  margin-top: -20px;
  margin-left: 6px;
}

#icon {
  font-size:33px;
}

#second-home-display {
  margin-top: 35px;
}


#mood-images {
  height: 250px;
  width: 250px;
}

#movie-icon-links {
  display: inline;
}

#footer-padding{
    padding-left: 10px;
}

.img-rounded {
  border-radius: 16px;
//  -webkit-box-shadow: 3px 3px 3px #7C7C7C;
//  box-shadow: 3px 3px 3px #7C7C7C;
}

#main-poster {
  height: 350px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

#mood-main {
  text-align: center;
}

@media (max-width: 430px) {
  h1,h2, h3, h4, h5 {
    text-align: center;
  } img, p {
    text-align: center;
      }
}
