body {
  font-family: 'Josefin Sans', sans-serif; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: 18px; }

#navbar-brand {
  text-align: center;
  float: none; }

img {
  margin-left: auto;
  margin-right: auto; }

#second-home-display {
  margin-top: 25px; }

.img-rounded {
  -webkit-box-shadow: 3px 3px 3px #7C7C7C;
  box-shadow: 3px 3px 3px #7C7C7C; }

#main-poster {
  height: 350px;
  width: 275px;
  margin-left: auto;
  margin-right: auto; }

#mood-main {
  text-align: center; }

@media (max-width: 620px) {
  h1, h2, h3, h4, h5 {
    text-align: center; }

  img, p {
    text-align: center; } }
