$bubbler-font: 'Bubbler One', sans-serif;


body {
  font-family: $bubbler-font;
//  background: skyblue -webkit-radial-gradient(left top, rgba(255, 255, 255, .8), rgba(255, 255, 255, .1));


  h1, h2, h3, h4, h5 {
      font-family: $bubbler-font;
      text-align: center;
      font-style: 18px;
  }
}

img {
  margin-left: auto;
  margin-right: auto;
}

#main-poster {
  height: 350px;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}