<h2 id="mood-main">Sun's Out, Life's Good </h2>
<!-- After first choice data to display -->

<div class="container" id="first-choice">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4>Everything's Going Your Way</h4>
             <a href="#/best-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive"src="/static/img/choices/best/o-brother.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4>Looking For Adventure</h4>
            <a href="#/best-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive"src="/static/img/choices/best/indiana_jones.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4>Camp Vibes</h4>
            <a href="#/best-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive"src="/static/img/choices/best/camp-vibes.jpg"></a>
        </div>
    </div>
</div>