<!-- Retrive the movie information -->
<div id="loader" ng-model="animate">
    <div id="load" ng-show="animate">
      <div>G</div>
      <div>N</div>
      <div>I</div>
      <div>D</div>
      <div>A</div>
      <div>O</div>
      <div>L</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-hide="animate">
            <h1>{{ movie.title }}</h1>
            <img id="main-poster" class="img-rounded img-responsive" src="http://image.tmdb.org/t/p/w185/{{ movie.poster }}">
            <h4>{{ movie.year }}</h4>
            <h2>How To Watch</h2>
            <h5><a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dinstant-video&field-keywords={{ movie.title }}" target="_blank">Amazon Prime</a></h5>
            <h5><a href="http://search.ovguide.com/?ci=101&q={{ movie.title }}" target="_blank">OV Guide</a></h5>
            <a href="#/moods">You hate it? So Go back...</a>
    </div>

</div>


