<h2 id="mood-main">Grab The Ice Cream! </h2>
<!-- After first choice data to display -->
<body id="date-decisions">
<div class="container">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4>First Date</h4>
             <a href="#/date-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/date/romantic.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4>Scary Movie</h4>
            <a href="#/date-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/date/dracula.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4>No Drama</h4>
            <a href="#/date-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/date/drama.jpg"></a>
        </div>
    </div>
</div>
</body>