<h2 id="mood-main">Ohh You're A Thrill Seeker </h2>
<!-- After first choice data to display -->

<div class="container" id="first-choice">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4>Foreign Dreams</h4>
             <a href="#/exploring-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/explore/8andhalf.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4>It's Hip To Be Square</h4>
            <a href="#/exploring-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/explore/hip-to-be.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4>Out West</h4>
            <a href="#/exploring-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/explore/eastwood_good_ugly.jpg"></a>
        </div>
    </div>
</div>