<h2 id="mood-main">You Think You're Funny? </h2>
<!-- After first choice data to display -->

<div class="container" id="first-choice">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4></h4>
             <a href="#/laugh-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/lol/love-actually.jpg/"></a>
        </div>
        <div class="col-sm-4">
            <h4></h4>
            <a href="#/laugh-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/lol/monty.jpg/"></a>
        </div>
        <div class="col-sm-4">
            <h4></h4>
            <a href="#/laugh-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/lol/its-wonderful-life.jpg/"></a>
        </div>
    </div>
</div>