<h2 id="mood-main">You Think You're Funny? </h2>
<!-- After first choice data to display -->

<div class="container" id="first-choice">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4>Romantic Giggles</h4>
             <a href="#/laugh-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive"src="http://placekitten.com/250/250"></a>
        </div>
        <div class="col-sm-4">
            <h4>Laugh So Hard You Cry (Mom!)</h4>
            <a href="#/laugh-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive"src="http://placecage.com/c/250/250"></a>
        </div>
        <div class="col-sm-4">
            <h4>Holiday Cheer</h4>
            <a href="#/laugh-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive"src="http://placekitten.com/250/250"></a>
        </div>
    </div>
</div>