
<div class="container">
	    <h3 id="mood-main">{{ time }}, how do you feel?</h3>
<!-- First row -->
    <div class="row" id="first-home-display">
        <div class="col-sm-4">
            <div id="rainy"><h4></h4>
                <a href="#/rainy-moods"><img class="fade img-rounded img-responsive"src="/static/img/rainy-mood1-text.jpg"></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div id="laughs"><h4></h4></div>
                <a href="#/laugh-moods"><img class="fade img-rounded img-responsive"src="/static/img/laughter-text.jpg"></a>
        </div>

        <div class="col-sm-4">
            <div id="date-night"><h4></h4>
                <a href="#/date-moods"><img class="fade img-rounded img-responsive"src="/static/img/date-night-text.jpg"></a>
            </div>
        </div>
    </div>
<!-- Second row -->
    <div class="row" id="second-home-display">

        <div class="col-sm-4">
            <div id="looking-for-love"><h4></h4></div>
            <a href="#/exploring-moods"><img class="fade img-rounded img-responsive" src="/static/img/gone-exploring-text.jpg"></a>
        </div>

        <div class="col-sm-4">
            <div id="sunny-day"><h4></h4></div>
            <a href="#/best-moods"><img class="fade img-rounded img-responsive"src="/static/img/best-day1-text.jpg"></a>
        </div>

        <div class="col-sm-4">
            <div id="oscar"><h4></h4></div>
            <a href="#/sick-moods"><img class="fade img-rounded img-responsive"src="/static/img/in-bed-text.jpg"></a>
        </div>
    </div>
</div>