
<div class="container">
<!--     if user.is_authenticated -->

        <h1>Welcome {{ user.first_name  }}</h1>
	    <h3>Please choose one of our moods.</h3>
<!-- First row -->
    <div class="row" id="first-home-display">
        <div class="col-sm-4">
            <div id="rainy"><h4>Rainy Evenings</h4>
                <a href="#/rainy-moods"><img class="img-rounded img-responsive"src="/static/img/rainy-mood1.jpg"></a>
            </div>
        </div>

        <div class="col-sm-4">
            <div id="laughs"><h4>Laugh Factory</h4></div>
                <a href="#/laugh-moods"><img class="img-rounded img-responsive"src="/static/img/laughter.jpg"></a>
        </div>

        <div class="col-sm-4">
            <div id="date-night"><h4>Date Night</h4>
                <a href="#/date-moods"><img class="img-rounded img-responsive"src="/static/img/date-night.jpg"></a>
            </div>
        </div>
    </div>
<!-- Second row -->
    <div class="row" id="second-home-display">

        <div class="col-sm-4">
            <div id="looking-for-love"><h4>Gone Exploring</h4></div>
            <a href="#/exploring-moods"><img class="img-rounded img-responsive" src="/static/img/gone-exploring.jpg"></a>
        </div>

        <div class="col-sm-4">
            <div id="sunny-day"><h4>Best Day Ever</h4></div>
            <a href="#/best-moods"><img class="img-rounded img-responsive"src="/static/img/best-day1.jpg"></a>
        </div>

        <div class="col-sm-4">
            <div id="oscar"><h4>Called In Sick</h4></div>
            <a href="#/sick-moods"><img class="img-rounded img-responsive"src="/static/img/in-bed.jpg"></a>
        </div>
    </div>
</div>