
<div class="row">
    <div class="col-md-12">
        <ul ng-repeat="movie in movies | orderBy:random | limitTo: 1">
            <h1>{{ movie.title }}</h1>
            <img id="main-poster" class="img-rounded img-responsive" src="http://image.tmdb.org/t/p/w185/{{ movie.poster }}">
            <h4>{{ movie.year }}</h4>
            <h4>{{ movie.genre.genre_type }}</h4>
            <h2>How To Watch</h2>
            <a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dinstant-video&field-keywords={{ movie.title }}" target="_blank">Try me</a>
        </ul>
            <h4><a href="#/moods">You hate it? So Go back...</a></h4>
    </div>
</div>

<!--
Total movies
74
164
92
50
45
714
848
8
5
384
76
119
156
24
566
185
40
10
534
615
9
80
18
716
1725
431
937
1498
2146
1491
=
13,760
I have 170 more in DB... duplicates...
-->