
<h2>When it rains, it pours... </h2>
<!-- After first choice data to display -->

<div class="container" id="first-choice">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4>Soaking Wet</h4>
             <a href="#/rainy-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive"src="http://placekitten.com/250/250"></a>
        </div>

        <div class="col-sm-4">
            <h4>Hot Chocolate</h4>
            <a href="#/rainy-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive"src="http://placecage.com/c/250/250"></a>
        </div>

        <div class="col-sm-4">
            <h4>Raindrops on the Roof</h4>
            <a href="#/rainy-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive"src="http://placekitten.com/250/250"></a>
        </div>
    </div>
</div>

<footer class="navbar-fixed-bottom">

</footer>