<h2 id="mood-main">You're Not Faking It Are You? </h2>
<!-- After first choice data to display -->

<div class="container" id="first-choice">
    <div class="row" id="home-display">
        <div class="col-sm-4">
            <h4></h4>
             <a href="#/sick-moods/choice1/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/sick/north-by-northwest.png"></a>
        </div>
        <div class="col-sm-4">
            <h4></h4>
            <a href="#/sick-moods/choice2/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/sick/back-to-the-future.jpg"></a>
        </div>
        <div class="col-sm-4">
            <h4></h4>
            <a href="#/sick-moods/choice3/"><img id="mood-images" class="fade img-rounded img-responsive" src="/static/img/choices/sick/motivate.jpg"></a>
        </div>
    </div>
</div>