{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

{#    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>#}
{#    <link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <title>{% block title %}cine{% endblock %}</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>


<div class="navbar navbar-default" role="navigation">
    <div id="navbar-brand">
            <a class="navbar" href="#"><img src="/static/img/cine-new.png"></a>
        <div class="container-fluid navbar-right" id="header">
            {% block header %}
                <a href="{% url 'index' %}">{% trans "Home" %}</a> |

                {% if user.is_authenticated %}
                    {% trans "Hey" %}: {{ user.first_name }}
                    (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
                    <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
                {% else %}

                    <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="container" id="footer">
        {% block footer %}

        {% endblock %}
    </div>
</body>

</html>
