
{% extends "base.html" %}

{% block content %}
<div id="home-padding" class="container">
    {% if user.is_authenticated %}
        <h1>Welcome back, {{ user.first_name  }}</h1>

        <div class="row">
            <div id="home-btns" class="col-sm-6">
                <a href="moods"> <h1>It's Popcorn Time</h1>
                <img class="img-rounded img-responsive"src="static/img/old-theatre.jpg">
                </a>
            </div>
    {# Allow the user to choose one completely random movie from the db#}
            <div id="home-btns" class="col-sm-6">
               <a href="moods/#/random"> <h1>Get Lucky</h1>
               <img class="img-rounded img-responsive" src="static/img/old-fashion.jpg">
               </a>
            </div>
        </div>

    {# Content to display if a user is unregistered or not logged in #}
	{% else %}
        <h2>Making movie recommendations easy. No debate necessary.</h2>
        <h4>Click to get started.</h4>

         <div class="row">
            <div  id="home-btns" class="col-sm-6">
                <a href="moods"> <h1 class="btn btn-default btn-xlarge" icon="ss-play">Get A Movie</h1>
{#                <img class="img-rounded img-responsive" src="static/img/old-theatre.jpg">#}
                </a>
            </div>

    {# Allow the user to choose one completely random movie from the db#}
            <div id="home-btns" class="col-sm-6">
               <a href="moods/#/random"> <h1 class="btn btn-default btn-xlarge" icon="ss-shuffle">Quick Recommendation</h1>
{#               <img class="img-rounded img-responsive" src="static/img/old-fashion.jpg">#}
               </a>
            </div>

        </div>
	{% endif %}
</div>


{% endblock %}
